<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Screens</title>
</head>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script>
    function line_edit(line) {

        $.get("/line/" + line + "/",{}, function (data, status){ 

        });
        console.log(line)
    }
</script>
<body>
    <table>
        <tr>
            
            <td>
                    <h1>Video Streaming Demonstration 1</h1>
                    <img src="{% url 'dynamic_stream' num=1 stream_path='0' %}">
            </td>
            
        </tr>
    </table>
    <input id='line' type="text" >
    <button type="button" onclick="line_edit(document.getElementById('line').value)"> Изменить линию </button>
</body>
</html>
